<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Betteroo</title>

</head>

<body>
<div id="poll_post" >
	<form method="post" action="poll_post">
		<div><input type="text" id="title"name="title" />
		<input type="text" id="disc" name="disc" />
		<!--<input type="file" />
		<input type="file" /> -->
		</div>
		<input type="submit" id="submit" value="Create Poll" name="submit" />	
	</form>
</div><!--end login-->
</body>
