
<html>
<head>
</head>
<body>
<h1>Login to Betteroo</h1>
UserName: <input id="first_name" name="first_name" type="text" /> 
<br /><br />
Password: <input id="last_name" name="last_name" type="password" />
<br /><br />

<input name="loginBtn" type="submit" value="Login" onClick="login();">
<!-
Change to register user with a link and pop up a register data getters
-->
<input name="registerBtn" type="submit" value="Register" onClick="register();">
<h3>If you don't have an account you can always register</h3>
<a href="/auth/facebook">Login with Facebook</a>
</body>
</html>
